@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
}
html{
	box-sizing:border-box;
}

body
{
	margin: 0;
    height:100vh;
	background:url("p1.jpg");
	background-position:center;
	background-size: cover;	
	align-items: center;
}
header
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:20px;
}
header .navbar
{
	display:flex;
	align-items:center;
	max-width:1200px;
	margin:0 auto;
	justify-content:space-between;
}
.navbar .logo
{
	color:#fff;	
	font-size:3.2rem;
	font-weight:600;
}
.navbar .logo span
{
	color:	#00F3FF;
}
.navbar .menu-links
{
	display:flex;
	gap:40px;
	list-style:none;
}
.navbar a
{
	color:#fff;
	text-decoration: none;
	transition:0.2s ease;
}
.navbar a:hover
{
	color:	#00FFF3;
}
.hero-section
{
	height:100vh;
	display:flex;
	align-items:center;
	padding:0 20px;
}

.hero-section .content
{
	color:#fff;
	max-width:1200px;
	width:100%;
	margin:0 auto;
}
.hero-section .content h1
{
	font-size:2rem;
	max-width:600px;
}
.hero-section .content p
{
	font-weight:400;
	margin-top:20px;
	max-width:600px;
}
.hero-section .content button
{
	background:#00F3FF;	
	outline:none;
	border:none;
	font-size:1rem;
	font-weight:500;
	margin-top:	38px;
	padding:12px 30px;	
	border-radius:6px;
	cursor:pointer;
	transition:0.2s ease;
}
.hero-section .content button:hover
{
	color:#fff;
    box-shadow: #00F3FF;
    animation: glow 1.5s infinite alternate;
	background:#00F3FF;
}
.hero-section .content button::before{
	content:"";
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	background: #00F3FF;
	transition: transform 0.5s;
	transform-origin: 0 0;
}

@keyframes glow {
    from {
      box-shadow: 0 0 10px #3498db, 0 0 20px #3498db, 0 0 30px #3498db;
    }
    to {
      box-shadow: 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #3498db;
    }
  }
#menu-btn
{
	color:#fff;
	cursor:pointer;
	display:none;
}
#close-btn
{
	display:none;
	position:absolute;
	right:20px;	
	top:20px;
	cursor:pointer;
}

@media screen and (max-width:900px)
{
	header
	{
		padding:10px 20px;
	}
	header.show-mobile-menu::before
	{
		content:"";
		position:fixed;
		left:0;
		top:0;
		width:100%;
		height:100%;
		backdrop-filter:blur(5px);
	}
	#close-btn ,#menu-btn
	{
		display:block;
	}
	.navbar .menu-links
{
	position:fixed;
	left:-260px;
	top:0;
	flex-direction:column;
	width:260px;
	height:100vh;
	background:#fff;
	padding:70px 40px 0;
	transition:left 0.15s ease;
}
header.show-mobile-menu .navbar .menu-links
{
	left:0;
}
.navbar a
{
	color:#000000;
}
.navbar a:hover
{
	color:#00F3FF;
}
.hero-section .content
{
	text-align:center;
}
.hero-section .content : is(h1, p)
{
	max-width:100%;
}
.hero-section .content h1
{
	font-size:2.3rem;
	line-height:60px;
}
.hero-section .content button
{
	padding:9px 18px;
}

}
.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap:wrap;
}
.about-image{
	flex:1;
	margin-right: 40px;
	overflow: block;
}
.about-image img{
	max-width: 40%;
	height: auto;
	display: block;
	transition: 0.5s ease;
}
.about-image:hover img{
	transform:scale(1.2);
}
.about-content{
	flex:1
}
.about-content h2{
	font-size: 23px;
	margin-bottom: 15px;
	color:#fff;
}
.about-content p{
	font-size: 18px;
	line-height: 1.5;
	color: #fff;
}
.about-content .read-more{
	display:inline-block;
	padding: 10px 20px;
	color: #fff;
	font-size: 19px;
	text-decoration: none;
	border-radius: 25px;
	margin-top: 15px;
	transition: 0.3s ease;
}

.about-content .read-more:hover{
	background-color:#00f2ff ;
}
@media screen and (max-width:768px){
	.heading{
		padding: 0px 20px;
	}
	.heading h1{
		font-size: 36px;
	}
	.heading p{
		font-size: 17px;
		margin-bottom: 0px;
	}
	.container{
		padding:0px;
	}
	.about{
		padding: 20px;
		flex-direction: column;
	}
	.about-image{
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.about-content p{
		padding:0px;
		font-size: 16px;
	}
	.about-content .read-more{
		font-size: 16px;
	}
}
.hide-about .about {
  display: none;
}
h3
{
	color:#FFFB00;
}
.container{
    width: 100%;
    overflow: hidden;
	color:#fff;
	justify-content: center;
}
.container h1
{
	color:#fff;
	font-size:50px;
	justify-content:left;
}
.container span{
	color:#00F3FF;
	font-size: 35px;
	font-weight: 600;
	justify-content: left;
}
.heading{
	width: 90%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin:20p;
}
.heading h1{
	font-size: 50px;
	color:#00f2ff;
	margin-bottom: 25px;
	position: relative;
}
.heading h1::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	margin: 0 auto;
	background-color:#3498db;
}
.heading p{
	font-size: 18px;
	color:#ffffff;
	margin-bottom: 35px;
}
.container{
	width:90%;
	margin: 0 auto;
	padding:10px 20px;
}

  
  .contact-details {
	position: absolute;
	font-size: large;
	font-weight: 700;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:#00FFF3; /* Add a background color for better visibility */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 6, 3, 0.8); /* Add a subtle box shadow */
  }
  .contact-details .cont{
	list-style: none;
	font-size: 20px;
  }
  .contact-details .cont  li{
	font-size: 15px;
	color: #fff;
  }

  .contact-details .cont li a{
	color:inherit;
	text-decoration: none;
  }
