@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding: 0;
}

html{
	box-sizing:border-box;
	font-size:15%;
}

body
{
    font-family: "poppins";
	background:url("p1.jpg");
    background-size: cover;	
	justify-content: center;
	display: grid;
	align-items: center;
	min-height:80vh;
    background-position:center;

}
.grid{
	display:grid;
	width:150em;
	grid-gap: 5rem;
	grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
	align-items:start;
}

.grid-items{
	background-color: #fff;
	border-radius: 0.4rem;
	overflow: hidden;
	box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
	cursor: pointer;
	transition: 0.2s;
}
.grid-items:hover{
	transform: translate(-0.5%);
	box-shadow:0 4rem 8rem rgba(0,0,0,0.5);
}

.card-img{
	display: block;
	width: 100%;
	height: 20rem;
	object-fit: cover;
}

.card-content{
	padding: 3rem;
}

.card-header{
	font-size:3rem;
	font-weight: 500;
	color:#000000;
	margin-bottom: 1.5rem;
}
.card-text{
	font-size:1.6rem;
	letter-spacing: 0.1rem;
	line-height: 1.7;
	color:#3498db;
	margin-bottom: 2.5rem;
}

.card-btn{
	display:block;
	width:100%;
	padding:1.5rem;
	font-size: 2rem;
	text-align: center;
	color: #000000;
	background-color:none;
	border-radius: 0.5rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.3rem;
}

.card-btn span{
	margin-left:1rem ;
	transition: 0.2s;
}
.card-btn:hover,
.card-btn:active{
	background-color: #3498db;
}

.card-btn:hover span,
.card-btn:active span{
	margin-left: 1.5rem;
}

@media only screen and(max-width:60em){
	body{
		padding:3rem;
	}
	.grid{
		grid-gap:3rem;
	}
}
button{
	background-color: aqua;
	border-radius: 4px;
	text-align: center;
	font-size: 15px;
	font-family: "poppins";
	border-width: 1%;
}
button{
	border-width: 0cap;
}
button:hover{
	box-shadow: #3498db;
	box-sizing: content-box;
}
.grid a{
	color:inherit;
	text-decoration: none;
}
